[Desktop Entry]
Version=1.0
Type=Application
Name=Chili clonedisk
GenericName=Chili Clonedisk
Comment=utility to clone disks
Exec=chili-clonedisk
Terminal=true
MimeType=text/plain;
Icon=drive-multidisk
Categories=Utility;Accessories;Chili Apps;
StartupNotify=true
Actions=Window;Document;
Name[ar]=Chili clonedisk
Name[ast]=Chili clonedisk
Name[bn]=Chili clonedisk
Name[ca]=Chili clonedisk
Name[cs]=Chili clonedisk
Name[da]=Chili clonedisk
Name[el]=Chili clonedisk
Name[es]=Chili clonedisk
Name[et]=Chili clonedisk
Name[fa]=Chili clonedisk
Name[fi]=Chili clonedisk
Name[fr]=Chili clonedisk
Name[gl]=Chili clonedisk
Name[he]=Chili clonedisk
Name[hr]=Chili clonedisk
Name[hu]=Chili clonedisk
Name[it]=Chili clonedisk
Name[ja]=Chili clonedisk
Name[ko]=Chili clonedisk
Name[ku]=Chili clonedisk
Name[lt]=Chili clonedisk
Name[nb]=Chili clonedisk
Name[nl]=Chili clonedisk
Name[nn]=Chili clonedisk
Name[no]=Chili clonedisk
Name[pl]=Chili clonedisk
Name[pt]=Chili clonedisk
Name[pt_BR]=Chili clonedisk
Name[ro]=Chili clonedisk
Name[ru]=Chili clonedisk
Name[sk]=Chili clonedisk
Name[sl]=Chili clonedisk
Name[sv]=Chili clonedisk
Name[tr]=Chili clonedisk
Name[ug]=Chili clonedisk
Name[uk]=Chili clonedisk
Name[vi]=Chili clonedisk
Name[zh_CN]=Chili clonedisk
Name[zh_TW]=Chili clonedisk
GenericName[ar]=Chili Clonedisk
GenericName[ast]=Chili Clonedisk
GenericName[bn]=Chili Clonedisk
GenericName[ca]=Chili Clonedisk
GenericName[cs]=Chili Clonedisk
GenericName[da]=Chili Clonedisk
GenericName[el]=Chili Clonedisk
GenericName[es]=Chili Clonedisk
GenericName[et]=Chili Clonedisk
GenericName[fa]=Chili Clonedisk
GenericName[fi]=Chili Clonedisk
GenericName[fr]=Chili Clonedisk
GenericName[gl]=Chili Clonedisk
GenericName[he]=Chili Clonedisk
GenericName[hr]=Chili Clonedisk
GenericName[hu]=Chili Clonedisk
GenericName[it]=Chili Clonedisk
GenericName[ja]=Chili Clonedisk
GenericName[ko]=Chili Clonedisk
GenericName[ku]=Chili Clonedisk
GenericName[lt]=Chili Clonedisk
GenericName[nb]=Chili Clonedisk
GenericName[nl]=Chili Clonedisk
GenericName[nn]=Chili Clonedisk
GenericName[no]=Chili Clonedisk
GenericName[pl]=Chili Clonedisk
GenericName[pt]=Chili Clonedisk
GenericName[pt_BR]=Chili Clonedisk
GenericName[ro]=Chili Clonedisk
GenericName[ru]=Chili Clonedisk
GenericName[sk]=Chili Clonedisk
GenericName[sl]=Chili Clonedisk
GenericName[sv]=Chili Clonedisk
GenericName[tr]=Chili Clonedisk
GenericName[ug]=Chili Clonedisk
GenericName[uk]=Chili Clonedisk
GenericName[vi]=Chili Clonedisk
GenericName[zh_CN]=Chili Clonedisk
GenericName[zh_TW]=Chili Clonedisk
Comment[ar]=أداة لاستنساخ الأقراص
Comment[ast]=Ferramienta pa clonar discos
Comment[bn]=ডিস্ক ক্লোন করার উপযোগিতা
Comment[ca]=Utilitat per clonar discs
Comment[cs]=Nástroj pro klonování disků
Comment[da]=Værktøj til kloning af diske
Comment[de]=Dienstprogramm zum Klonen von Datenträgern
Comment[el]=Εργαλείο για την κλωνοποίηση δίσκων
Comment[es]=Utilidad para clonar discos
Comment[et]=Ketta kloonimise tööriist
Comment[fa]=ابزاری برای شبیه‌سازی دیسک‌ها
Comment[fi]=Työkalu levyjen kloonaamiseen
Comment[fr]=Utilitaire pour cloner des disques
Comment[gl]=Utilidade para clonar discos
Comment[he]=כלי לשכפול דיסקים
Comment[hr]=Alat za kloniranje diskova
Comment[hu]=Lemezek klónozására szolgáló segédprogram
Comment[it]=Utilità per clonare i dischi
Comment[ja]=ディスクをクローンするためのユーティリティ
Comment[ko]=디스크를 복제하는 유틸리티
Comment[ku]=Amûrek ji bo klonkirina dîskan
Comment[lt]=Diskų klonavimo programa
Comment[nb]=Verktøy for kloning av disker
Comment[nl]=Hulpmiddel om schijven te klonen
Comment[nn]=Verktøy for kloning av diskar
Comment[no]=Verktøy for kloning av disker
Comment[pl]=Narzędzie do klonowania dysków
Comment[pt]=Utilitário para clonar discos
Comment[pt_BR]=Utilitário para clonar discos
Comment[ro]=Utilitar pentru clonarea discurilor
Comment[ru]=Утилита для клонирования дисков
Comment[sk]=Nástroj na klonovanie diskov
Comment[sl]=Orodje za kloniranje diskov
Comment[sv]=Verktyg för att klona diskar
Comment[tr]=Diskleri klonlamak için yardımcı program
Comment[ug]=دىسكلارنى كۆپەيتىش قورالى
Comment[uk]=Утиліта для клонування дисків
Comment[vi]=Tiện ích sao chép ổ đĩa
Comment[zh_CN]=用于克隆磁盘的工具
Comment[zh_TW]=用於複製磁碟的工具
Keywords=clone;disk;drive;backup;copy;
Keywords[ar]=استنساخ;قرص;محرك;نسخ_احتياطي;نسخ;
Keywords[ast]=clonar;discu;unidá;respaldu;copiar;
Keywords[ca]=clonar;disc;unitat;còpia_de_seguretat;copiar;
Keywords[cs]=klonovat;disk;jednotka;záloha;kopírovat;
Keywords[da]=klon;disk;drev;sikkerhedskopi;kopiere;
Keywords[de]=klonen;Datenträger;Laufwerk;Sicherung;kopieren;
Keywords[el]=κλωνοποίηση;δίσκος;μονάδα;αντίγραφο_ασφαλείας;αντιγραφή;
Keywords[es]=clonar;disco;unidad;copia_de_seguridad;copiar;
Keywords[et]=kloon;ketas;draiv;varukoopia;kopeerimine;
Keywords[fa]=کلون;دیسک;درایو;پشتیبان;کپی;
Keywords[fi]=kloonaus;levy;asema;varmuuskopio;kopiointi;
Keywords[fr]=cloner;disque;lecteur;sauvegarde;copier;
Keywords[he]=שכפול;דיסק;כונן;גיבוי;העתקה;
Keywords[hr]=kloniranje;disk;pogon;sigurnosna_kopija;kopiranje;
Keywords[hu]=klónozás;lemez;meghajtó;mentés;másolás;
Keywords[it]=clonare;disco;unità;backup;copiare;
Keywords[is]=klóna;diskur;drif;afrit;afrita;
Keywords[ja]=クローン;ディスク;ドライブ;バックアップ;コピー;
Keywords[nb]=klone;disk;stasjon;sikkerhetskopi;kopiere;
Keywords[nl]=klonen;schijf;station;back-up;kopiëren;
Keywords[pt]=clonar;disco;unidade;backup;copiar;
Keywords[pt_BR]=clonar;disco;unidade;backup;copiar;
Keywords[ru]=клонирование;диск;накопитель;резервная_копия;копирование;
Keywords[sk]=klonovanie;disk;jednotka;záloha;kopírovanie;
Keywords[sl]=kloniranje;disk;pogon;varnostna_kopija;kopiranje;
Keywords[tr]=klon;disk;sürücü;yedekleme;kopyalama;
Keywords[uk]=клонування;диск;накопичувач;резервна_копія;копіювання;
Keywords[vi]=sao_chép;đĩa;ổ_đĩa;sao_lưu;nhân_bản;
Keywords[zh_CN]=克隆;磁盘;驱动器;备份;复制;
Keywords[zh_TW]=複製;磁碟;磁碟機;備份;拷貝;