[Desktop Entry]
Version=1.0
Type=Application
Name=VoidBR clonedisk
GenericName=VoidBr Clonedisk
Comment=utility to clone disks
Exec=voidbr-clonedisk
Terminal=true
MimeType=text/plain;
Icon=drive-multidisk
Categories=Utility;Accessories;X-VoidBR-Apps;
StartupNotify=true
Actions=Window;Document;
